name: Publish Docker images to GHCR

on:
  push:
    branches:
      - 'main' # Trigger on pushes to the main branch
    tags:
      - 'v*.*.*' # Trigger on tags like v1.0.0

env:
  REGISTRY: ghcr.io
  IMAGE_OWNER: ${{ github.repository_owner }}

jobs:
  build-and-push-images:
    name: Build and Push Docker Images
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for Docker tags
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/menuwire-backend
            ${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/menuwire-frontend
            ${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/menuwire-nginx
          tags: |
            # tag latest for main branch
            type=raw,value=latest,enable={{is_default_branch}}
            # tag with version for git tags
            type=ref,event=tag

      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/menuwire-backend:${{ steps.meta.outputs.version }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/menuwire-frontend:${{ steps.meta.outputs.version }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Build and push nginx image
        uses: docker/build-push-action@v5
        with:
          context: ./nginx
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/menuwire-nginx:${{ steps.meta.outputs.version }}
          labels: ${{ steps.meta.outputs.labels }}
